<html>
<head>
  <title>{{ app_name }}</title>
</head>
<body>
  <h1>{{ app_name }}</h1>
  <p>Configured by Ansible Role</p>
  <p>Hostname: {{ ansible_hostname }}</p>
  <p>Distributionofserver" {{ ansible_distribution }}</p>
  <p>Environment: {{ env }}</p>
</body>
</html>

